CONFIG_ARM=y
CONFIG_SYS_ARCH_TIMER=y
CONFIG_ARCH_SUNXI=y
CONFIG_DEFAULT_DEVICE_TREE="sun8i-t113-mangopi-mq-dual"
CONFIG_SPL_SYS_MALLOC_F_LEN=0xc000
CONFIG_MACH_SUN8I_T113=y
CONFIG_DRAM_ZQ=0
# CONFIG_HAS_ARMV7_SECURE_BASE is not set
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_SYS_SPL_MALLOC=y
CONFIG_SPL_DM=y
# CONFIG_SPL_USE_TINY_PRINTF is not set
